#IntelliJ Configs
.idea/
.idea/misc.xml
backstopJS.iml

#Generated data
**/bitmaps_reference
**/bitmaps_test
**/html_report


#Generated json file
node_modules/backstopjs/capture/config.json


npm-debug.log

