#IntelliJ Configs
.idea/
.idea/misc.xml
backstopJS.iml

#Generated data
/backstop_data
!/backstop_data/casper_scripts


#Generated json file
node_modules/backstopjs/capture/config.json


npm-debug.log

